include LICENSE
include requirements.txt
include versioneer.py
include txrecaptcha/_version.py

recursive-include txrecaptcha *.py

recursive-include examples *.py

recursive-include docs *.rst
include docs/sphinx/static
include docs/sphinx/conf.py
include docs/sphinx/make.bat
include docs/sphinx/Makefile
prune docs/sphinx/build

prune private

global-exclude *.log *~
